<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Incluir Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+JznU7Kc5EmToFlzibdX8jorwj7wTbf5g8f5c3upi5yTf5ks" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <title>Document</title>
</head>
 <!-- formulario de contacto -->
<body>
  <audio src="tracks/game-thrones-violin.mp3"  autoplay ></audio>
<audio src="game-of-thrones-winter-is-coming.mp3¿¿"  autoplay ></audio>


  <div class="contacto-logo">

    <div class="box">
      <span style="--i:1;"><img src="/images/imeges slider/stark fondo 5.jpg" alt=""></span>
    </div>
  </div>
  <section>
    <div class="contacto-formulario">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h1 class="text-center mb-4">Formulario de Contacto</h1>
            <form action="/enviar-mensaje" method="POST">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
              </div><br>
              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div><br>
              <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje:</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
              </div><br>
              <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>
          </div>
        </div>
      </div>

      <div class="form-content">




      </div>
    </div>

    <div class="contacto-redes">

      <h3> Nuestras redes </h3><br>
      <i class="fa-brands fa-facebook"></i><br>
      <a href="https://facebook.com">facebook</a><br>
      <i class="fa-brands fa-instagram"></i><br>
      <a href="https://instagram.com">instagram</a>
      <i class="fa-brands fa-twitter"></i><br>
      <a href="https://twitter.com">twitter</a><br>

      <p>direccion : avenida siempre viva </p><br>

      <p>codigo postal : 2800</p><br>

      <p>numero de telefono : 1235578899087 </p><br>

    </div>


  </section>

  <!-- Incluir Bootstrap JS y Popper.js (opcional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"
    integrity="sha384-KyZXEAg3QhqLMpG8r+JznU7Kc5EmToFlzibdX8jorwj7wTbf5g8f5c3upi5yTf5ks"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-ojPjk5meVR0E0l7zq7Rg4yl8M5HtUp2zqyO0gB2Fz5m2taZnFw5K5r5F5IPtMx2s"
    crossorigin="anonymous"></script>

</body>

</html>