<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <!--link bootstrap css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!--link style css-->
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
<audio src="tracks/game-thrones-acustico.mp3"  autoplay ></audio>
<audio src="game-of-thrones-winter-is-coming.mp3"  autoplay ></audio>


  
  <section>
    <!-- section 3 -->
    <div class="section3">
      <div class="container">
        <div class="row">
          <div class="productos-logo">

            <div class="box">

              <span style="--i:2;"><img src="/images/imeges slider/logo targe 2.jpg" alt=""></span>
            </div>
          </div>

          <h2> Productos</h2>
          <p> <strong>¡aca podras ver nuestro catalgo!</strong></p>
          <p> <em> "hacemos envios a todo el pais" </em> </p>
        </div>
        <!-- remeras -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/remeracuervo.jpg" class="card-img-top" alt="remera cuervo">
              <div class="card-body">
                <h5 class="card-title">Remera cuervo negro</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/remera targeryan.jpg" class="card-img-top" alt="remera drakarys">
              <div class="card-body">
                <h5 class="card-title">Remera targeryan</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/remera winter is coming.jpeg" class="card-img-top" alt="remera winter is coming">
              <div class="card-body">
                <h5 class="card-title">Winter is coming</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- tazas -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col ">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/GOT-taza-02-blanca-scaled.jpg" class="card-img-top" alt="tazas blancas got">
              <div class="card-body">
                <h5 class="card-title">Tazas blancas</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/tazaswinter.jpg" class="card-img-top" alt="tazas winter">
              <div class="card-body">
                <h5 class="card-title">tazas winter is coming</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/GOT-taza-03-blanca-scaled.jpg" class="card-img-top" alt="tazas got 2">
              <div class="card-body">
                <h5 class="card-title">Winter is coming</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- figuras -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/figura drogon.jpg" class="card-img-top" alt="figura drogon">
              <div class="card-body">
                <h5 class="card-title">Drogon</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/figura-jon-snow.jpg" class="card-img-top" alt="figura figura-jon-snow">
              <div class="card-body">
                <h5 class="card-title">Jon Snow</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/figurasbrandon.jpg" class="card-img-top" alt="figura brandon y hodor">
              <div class="card-body">
                <h5 class="card-title">brandon stark y hodor</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/daenerys-targaryen-figurine.png" class="card-img-top" alt="figuras daenerys-targaryen">
              <div class="card-body">
                <h5 class="card-title">daenerys-targaryen</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/figurastark.png" class="card-img-top" alt="figura ned stark">
              <div class="card-body">
                <h5 class="card-title">Ned Stark</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/figuratyron.jpg" class="card-img-top" alt="figura tyron">
              <div class="card-body">
                <h5 class="card-title">tyron</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- trajes -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/traje.jpg" class="card-img-top" alt="traje">
              <div class="card-body">
                <h5 class="card-title">Trage</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/trajebriat.jpg" class="card-img-top" alt="trage briat">
              <div class="card-body">
                <h5 class="card-title">trages</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <img src="images/images productos/trajeguardian.jpg" class="card-img-top" alt="trajesguardian">
              <div class="card-body">
                <h5 class="card-title">Guardian del muro</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </div>
        </div>

  </section>

</body>

</html>